body{
    background-image: url('how-to-reduce-vehicle-pollution-in-india.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Comic Sans Ms';
    margin: 0;
    padding: 0;
}

.container{
    max-width: 400px;
    margin: 50px auto;
    padding: 30px;
    background-color: rgb(0, 0, 0, 0.5);
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1{
    text-align: center;
    color: rgb(9, 255, 0);
}

form{
    margin-top: 20px;
}

label{
    color: rgb(9, 255, 0);
    display: block;
    margin-bottom: bold;
    font-weight: bold;
    font-size: 18px;
}

select, input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 2px solid gray;
    border-radius: 20px;
    box-sizing: border-box;
    font-size: 16px;
}

input[type="submit"] {
    background-color: rgb(9, 255, 0);
    color: black;
    font-weight: bold;
    padding: 12px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
}

input[type="submit"]:hover {
    background-color: #ed8b03;
}

.output {
    color: rgb(9, 255, 0);
    text-align: center;
    margin-top: 20px;
}